In [1]:
import numpy as np
import pandas as pd
import math as m

## 01.  Area of the circle

In [2]:
print("Enter the radius of the circle")
radious_c =  float(input())
area_circle = m.pi*((radious_c)**2)

print("Area of the Circle: ", area_circle)

Enter the radius of the circle
5
Area of the Circle:  78.53981633974483

## 02. Comparision Between Three Numbers

In [3]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))
num_3 = int(input("Enter third number: "))
 
if (num_1 > num_2) and (num_1 > num_3):
   largest = n1
elif (num_2 > num_1) and (num_2 >num_3):
   largest = num_2
else:
   largest = num_3
 
print("The largest number is",largest)

Enter first number: 5
Enter second number: 6
Enter third number: 7
The largest number is 7

## 03. Vowel & Consonant

In [4]:
def convert_vowels_to_1_consonants_to_0(ip_str):
    vowels = 'aeiou'
    op_str = ''
    for char in ip_str:
        if char.lower() in vowels:
            op_str += '1'
        else:
            op_str += '0'
    return op_str

ip_str = 'abcde'
op_str = convert_vowels_to_1_consonants_to_0(ip_str)
print(op_str)

10001

## 04. Calculator for ADD, SUB, MUL, DIV

In [5]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y

print("Select operation:")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Please enter choice (1/ 2/ 3/ 4): ")    

x = float(input("Enter First Number:"))
y = float(input("Enter Second Number:"))

if choice == '1':    
   print(x,"+", y,"=",add(x,y))    
    
if choice == '2':    
   print(x,"-", y,"=",sub(x,y))     
    
if choice == '3':    
   print(x,"*", y,"=",mul(x,y)) 

if choice == '4':    
   print(x,"/", y,"=",div(x,y))

Select operation:
1.Add
2.Subtract
3.Multiply
4.Divide
Please enter choice (1/ 2/ 3/ 4): 3
Enter First Number:5
Enter Second Number:5
5.0 * 5.0 = 25.0

## 05. Input String and Repeat

In [6]:
print("Input a String to Repeat")
string = str(input())
result = string+string

print ("Repeated String Output: ",result)

Input a String to Repeat
xyz
Repeated String Output:  xyzxyz

## 06. Filter and Mapping

In [7]:
input_list = ["ux1P5", "rt0", "ft3", "z1aP"]
output_list = list(filter(lambda x: 'P' in x, input_list))
print(output_list)

['ux1P5', 'z1aP']

In [8]:
input_list = ["ux1P5", "rt0", "ft3", "z1aP"]
output_list = list(map(lambda x: x + 'P' if 'P' not in x else x, input_list))
print(output_list)

['ux1P5', 'rt0P', 'ft3P', 'z1aP']

In [9]:
from functools import reduce
input_list = [1, 2, 3, 4]
output = reduce(lambda x, y: x+y, input_list)
print([output])

[10]

In [10]:
input_list = [1, 2, 3, 4]
output = sum(input_list)
print([output])

[10]

## 07. Wine Dataset

In [11]:
#reading the head of the given dataset
df = pd.read_csv("wine.csv")
df.head(10)

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361

In [12]:
print(df.loc[6,"sort_sequence"])

363

In [13]:
df2 = df.loc[0:9]
print(df2)

   Unnamed: 0 item_code                                          item_name  \
0           0       AA0                               All items - old base
1           1      AA0R  Purchasing power of the consumer dollar - old ...
2           2       SA0                                          All items
3           3      SA0E                                             Energy
4           4     SA0L1                                All items less food
5           5    SA0L12                    All items less food and shelter
6           6   SA0L12E           All items less food, shelter, and energy
7           7  SA0L12E4  All items less food, shelter, energy, and used...
8           8    SA0L1E                     All items less food and energy
9           9     SA0L2                             All items less shelter

   display_level selectable  sort_sequence
0              0          T              2
1              0          T            400
2              0          T              1
3              1          T            375
4              1          T            359
5              1          T            362
6              1          T            363
7              1          T            364
8              1          T            360
9              1          T            361

In [14]:
df2.to_pickle("p.pkl")

In [15]:
df3  = pd.read_pickle("p.pkl")
print(df3)

   Unnamed: 0 item_code                                          item_name  \
0           0       AA0                               All items - old base
1           1      AA0R  Purchasing power of the consumer dollar - old ...
2           2       SA0                                          All items
3           3      SA0E                                             Energy
4           4     SA0L1                                All items less food
5           5    SA0L12                    All items less food and shelter
6           6   SA0L12E           All items less food, shelter, and energy
7           7  SA0L12E4  All items less food, shelter, energy, and used...
8           8    SA0L1E                     All items less food and energy
9           9     SA0L2                             All items less shelter

   display_level selectable  sort_sequence
0              0          T              2
1              0          T            400
2              0          T              1
3              1          T            375
4              1          T            359
5              1          T            362
6              1          T            363
7              1          T            364
8              1          T            360
9              1          T            361