<a href="https://colab.research.google.com/github/ahnafsayem/python_practice/blob/main/Basic/python_basics_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Functions in Python*

In [ ]:
#Function for Adding two values

def add(a,b):
  total=a+b
  return total

calc=add(10,20)
print("Summation of 10 and 20 is",calc)

Summation of 10 and 20 is 30

In [ ]:
#Using Specific Arguments

def calculate(a,b,c):
  total=b+(a*c)
  return total

calc=calculate(a=10,b=20,c=30) #Named Arguments
print("Total result is",calc)

Total result is 320

In [ ]:
#Setting Default Value

def calculate(a,b=0):
  total=a+b
  return total

calc=calculate(40) #Default Value
print("Total result is",calc)

Total result is 40

In [ ]:
#Setting Default Value

def calculate(a,b=0):
  total=a+b
  return total

calc=calculate(40,50) #Default Value replaced with given value
print("Total result is",calc)

Total result is 90

In [ ]:
#Function for Calculating Total Expenses

def calculate_total(expense):
  total=0
  for item in expense:
    total = total+ item
  return total

Ahnaf_expense = [1100,1200,1300,1400]
Sayem_expense = [1500,1600,1700,1800]

print("Total expenses of Ahnaf is",calculate_total(Ahnaf_expense))
print("Total expenses of Sayem is",calculate_total(Sayem_expense))

Total expenses of Ahnaf is 5000
Total expenses of Sayem is 6600

# *Dictionaries in Python*

In [ ]:
"""
Dictionaries are used to store data values in key:value pairs.
It is a collection which is ordered*,changeable and do not allow duplicates.

"""

In [1]:
#Creating Dictionaries
phone_no = {"Ahnaf":123456789,"Sayem":987654321,"Meem":1122334455}
print(phone_no)

{'Ahnaf': 123456789, 'Sayem': 987654321, 'Meem': 1122334455}

In [2]:
#Adding more informations
phone_no["XYZ"]=123456789
print(phone_no)

{'Ahnaf': 123456789, 'Sayem': 987654321, 'Meem': 1122334455, 'XYZ': 123456789}

In [3]:
#Deleting from Dictionary
del phone_no["XYZ"]
print(phone_no)

{'Ahnaf': 123456789, 'Sayem': 987654321, 'Meem': 1122334455}

In [6]:
#Printing all
for i in phone_no: #i refers to the "key" values
  print("key:",i,"value:",phone_no[i])

key: Ahnaf value: 123456789
key: Sayem value: 987654321
key: Meem value: 1122334455

In [7]:
#checking01
"Ahnaf" in phone_no

True

In [9]:
#checking02
"XYZ" in phone_no

False

In [10]:
#clear dictionary

#phone_no.clear()
#print(phone_no)

# *Tuples in Python*

In [ ]:
"""
Tuples is a list of values grouped together.
Tuples are Immutable. So it can not be changed

In lists all values have the same meaning(Homogeneous)
In tuples all values have different meaning(Heterogeneous)

List Examples:
expense_list = [1100,1200,1300,1400] #here every item is an expense
Name_list = ["Ahnaf","Sayem","Meem"] #here every item is a name

Tuples Examples:
points=(10,20) #10 is x coordinate, 20 is y coordinate
Address=(1200,"Dhaka","Bangladesh") #postal,City,Country

"""