<a href="https://colab.research.google.com/github/ahnafsayem/python_practice/blob/main/Basic/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Variables in Python*

In [ ]:
#Calculating total expenses of a house per month

rent=1500
gas=500
electricity_bill=1000
groceries=1500

total = rent+gas+electricity_bill+groceries

print("Total expenses of the house is",total,"dollar" )

Total expenses of the house is 4500 dollar

# *Numbers in Python*

In [ ]:
#calculating distance and travel time between Rajshahi to Daka through Bogura.

Raj_Bog=100
Bog_Dha=150

total_distance =(Raj_Bog*1000)+(Bog_Dha*1000)
print('Total Distance traveled',total_distance,'meters.')

speed=65 #speed of a car in kmph

#Converting in m/s
speed_f=(speed*1000)/3600

travel_time= total_distance/speed_f

time=round(travel_time,2)

print("Total travel time",time,'m/s')

Total Distance traveled 250000 meters.
Total travel time 13846.15 m/s

# *Strings in Python*

In [ ]:
# Strings are immutable in Python,
#that means we can not change the string partially

name = "AHNAF SAYEM"

print("Printing the first letter of the string, that is - ",name[0])
print("Printing the last letter of the string, that is - ",name[-1])

print("Random position check - ", name[6])


#subindex
print("Subindex - The first name is :- ",name[0:5]) #another way- name[:5]
print("Subindex - The last name is :- ",name[6:]) #going till the last

Printing the first letter of the string, that is -  A
Printing the last letter of the string, that is -  M
Random position check -  S
Subindex - The first name is :-  AHNAF
Subindex - The last name is :-  SAYEM

In [ ]:
#Multiple Lines like Address

print("Address of Ahnaf Sayem:")

address='''Bangladesh
South Asia
Earth, Milky Way Galaxy'''

print(address)

Address of Ahnaf Sayem:
Bangladesh
South Asia
Earth, Milky Way Galaxy

In [ ]:
#Joining Two Strings
s1 = "hello"
s2 = "world"
s3 = s1 + s2
print(s3)

#adding space in between
s4 = s1 + " " + s2
print(s4)

#converting number into string and then adding
p1 = "Total districts in Bangladesh #"
p2 = str(64)
p3 = p1 + p2
print(p3)

helloworld
hello world
Total districts in Bangladesh #64

# *Lists in Python*

In [ ]:
#Creating a list
item1='Rice'
item2='Daal'
item3='Meatbox'
item4='Pasta'
items = [item1,item2,item3,item4]
print("List of the given items",items)

#Accessing any item
print("Accessing an item at index 1, which is - ",items[1])

#changing item datas
item1 = "Pizza"
item2 = "Burger"
items = [item1,item2,item3,item4]
print("List of the given items",items) #updated list

#Again ccessing any item
print("Accessing an item at index 1, which is now chnaged into - ",items[1])

List of the given items ['Rice', 'Daal', 'Meatbox', 'Pasta']
Accessing an item at index 1, which is -  Daal
List of the given items ['Pizza', 'Burger', 'Meatbox', 'Pasta']
Accessing an item at index 1, which is now chnaged into -  Burger

In [ ]:
#Slicing List
print(items[0:2])
print(items[:3])
print(items[2:])

print(items)

['Pizza', 'Burger']
['Pizza', 'Burger', 'Meatbox']
['Meatbox', 'Pasta']
['Pizza', 'Burger', 'Meatbox', 'Pasta']

In [ ]:
#Adding Elements

#Append - adds in the end
items.append("Wadges")
print(items)

#Insert in a specific position
items.insert(1,"Drinks") #inserted in index position 1
print(items)

['Pizza', 'Burger', 'Meatbox', 'Pasta', 'Wadges']
['Pizza', 'Drinks', 'Burger', 'Meatbox', 'Pasta', 'Wadges']

In [ ]:
#Removing Elements

#Pop- for specific index
items.pop(-1)
print(items)

#Remove -for specific value
items.remove("Drinks")
print(items)

['Pizza', 'Drinks', 'Burger', 'Meatbox', 'Pasta']
['Pizza', 'Burger', 'Meatbox', 'Pasta']

In [ ]:
#Joining two list

#Updated List items=['Pizza', 'Burger', 'Meatbox','Pasta']
toiletries = ["Shampoo", "Soap", "Bodywash", "Facewash"]

shopping_list = items + toiletries #adding two lists
print(shopping_list)

#Length of the list
length = len(shopping_list)
print("Length of the list is",length)

['Pizza', 'Burger', 'Meatbox', 'Pasta', 'Shampoo', 'Soap', 'Bodywash', 'Facewash']
Length of the list is 8

In [ ]:
#Finding a items in list
"Meatbox" in shopping_list #True

True

In [ ]:
"Mutton" in shopping_list #false

False

# *If Statement in Python*

In [ ]:
#Program for Checking EVEN or ODD

num=input("Enter a Number:")
num=int(num)
if num%2==0:
  print("Number is EVEN")
else:
  print("Number is ODD")

Enter a Number:5
Number is ODD

In [ ]:
""" Write a program that asks user to enter a dish name,
    and it should print which cuisine it is
"""
indian = ["samosa", "daal", "naan"]
chinese = ["egg roll", "pot sticker", "fried rice"]
italian = ["pizza", "pasta", "risotto"]

dish = input("Enter a dish name:")

if dish in indian:
  print("Indian")
elif dish in chinese:
  print("Chinese")
elif dish in italian:
  print("Italian")
else:
  print("SORRY! I don't know which cuisine is",dish)

Enter a dish name:meatbox
SORRY! I don't know which cuisine is meatbox

# *For Loop in Python*

In [ ]:
#printing

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#Multiplication

for i in range(1,6):
  print(i*i)

1
4
9
16
25

In [ ]:
#Print Square of the even numbers in 1-5

for i in range(1,6):
  if i%2==0:
    continue
  print(i*i)

1
9
25

In [ ]:
#Calculating Expenses

expense = [1100,1200,1300,1400]
#total = expense[0] + expense[1] + expense[2] + expense[3]
#print("Total expenses is",total)

total=0

for item in expense:
  total= total + item
print("Total expenses is",total)

Total expenses is 5000

In [ ]:
#Calculating Expenses in another way

exp = [1100,1200,1300,1400]

for item in range(len(exp)):
  print("Month",item+1,"Expense",exp[item])
  total= total + exp[item]
print("Total expenses is",total)

Month 1 Expense 1100
Month 2 Expense 1200
Month 3 Expense 1300
Month 4 Expense 1400
Total expenses is 10000

In [ ]:
#Find Lost Key using For Loop

key = "table"
locations = ["bed","closet","table","chair"]

for item in locations:
  if item==key:
    print("Key is found in",item)
    break
  else:
    print("Key is not found in",item)

Key is not found in bed
Key is not found in closet
Key is found in table

# *While Loop in Python*

In [ ]:
#Print 1-5

i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

# **Functions in Python**

In [ ]:
#Function for Adding two values

def add(a,b):
  total=a+b
  return total

calc=add(10,20)
print("Summation of 10 and 20 is",calc)

Summation of 10 and 20 is 30

In [ ]:
#Using Specific Arguments

def calculate(a,b,c):
  total=b+(a*c)
  return total

calc=calculate(a=10,b=20,c=30) #Named Arguments
print("Total result is",calc)

Total result is 320

In [ ]:
#Setting Default Value

def calculate(a,b=0):
  total=a+b
  return total

calc=calculate(40) #Default Value
print("Total result is",calc)

Total result is 40

In [ ]:
#Setting Default Value

def calculate(a,b=0):
  total=a+b
  return total

calc=calculate(40,50) #Default Value replaced with given value
print("Total result is",calc)

Total result is 90

In [ ]:
#Function for Calculating Total Expenses

def calculate_total(expense):
  total=0
  for item in expense:
    total = total+ item
  return total

Ahnaf_expense = [1100,1200,1300,1400]
Sayem_expense = [1500,1600,1700,1800]

print("Total expenses of Ahnaf is",calculate_total(Ahnaf_expense))
print("Total expenses of Sayem is",calculate_total(Sayem_expense))

Total expenses of Ahnaf is 5000
Total expenses of Sayem is 6600