# *Exercise on List*

In [ ]:
"""
  monthly expense calculation
"""

expense_monthly=[2200,2350,2500,2000,2100]

print("Expense in January",expense_monthly[0])
print("Expense in February",expense_monthly[1])

#difference of two expenses
print("Difference between Expense in February and January",expense_monthly[1]-expense_monthly[0])

#expense in first quarter of the year
print("Expense in first quarter",expense_monthly[0]+expense_monthly[1]+expense_monthly[2])

#find out 2000$ is in any expense or not
print("Expense 2000$ in one month=",2000 in expense_monthly)

#add expense of June
expense_monthly.append(2600)
print("Expenses for first six months respectively, ",expense_monthly)

#Updating the expense of april after getting a refund of 200$
expense_monthly[3]=expense_monthly[3]-200
print(expense_monthly)

Expense in January 2200
Expense in February 2350
Difference between Expense in February and January 150
Expense in first quarter 7050
Expense 2000$ in one month= True
Expenses for first six months respectively,  [2200, 2350, 2500, 2000, 2100, 2600]
[2200, 2350, 2500, 1800, 2100, 2600]

In [ ]:
"""
  Marvel Superhero List
"""

heros=['spider man','thor','hulk','iron man','captain america']

#Length of the list
print(len(heros))

#adding another item
heros.append('black panther')
print(heros)

#removing from list
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

#Slicing
heros[2]='doctor strange'
print(heros)

#sorting in alphabetical order
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'thor', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man', 'thor']

# *Exercise in If statement*

In [ ]:
"""
Findout Country from given City name

"""

bangladesh = ["dhaka", "khulna", "rangpur"]
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]

city = input("Enter the city name to know the Country name: ")
if city in bangladesh:
    print("That city is in Bangladesh")
elif city in india:
    print("That city is in India")
elif city in pakistan:
    print("That city is in pakistan")
else:
    print("we dont know")

Enter the city name to know the Country name: dhaka
That city is in Bangladesh

In [ ]:
#Nested If statement

bangladesh = ["dhaka", "khulna", "rangpur"]
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]

city1 = input("Enter first city name to know the Country name: ")
city2 = input("Enter second city name to know the Country name: ")

if city1 in bangladesh and city2 in bangladesh:
    print("Those cities are in Bangladesh")
elif city1 in bangladesh and city2 in india:
    print("Those cities are in India")
elif city1 in bangladesh and city2 in pakistan:
    print("Those cities are in Pakistan")
else:
    print("we dont know")

Enter first city name to know the Country name: dhaka
Enter second city name to know the Country name: khulna
Those cities are in Bangladesh

In [ ]:
"""
  Checking Sugar Level, Range 80-100 is normal
"""

#Changing Input valo in Integer
blood = int(input("Eenter the sugar level of the blood: "))

if blood <= 80:
  print("Sugar level is Low")
elif blood >= 100:
  print("Sugar level is High")
else:
  print("Sugar level is Normal")

Eenter the sugar level of the blood: 85
Sugar level is Normal

In [ ]:
"""
  Calculate expanse list
"""

# List of monthly expenses from January to May
expense_list = [2340, 2500, 2100, 3100, 2980]

# Corresponding month names
months = ["January", "February", "March", "April", "May"]

# Asking the user to enter an expense amount
expense_input = int(input("Enter the expense amount: "))

# Check if the expense exists in the list
if expense_input in expense_list:
    index = expense_list.index(expense_input)  # Get the index of the expense
    print(f"The expense occurred in {months[index]}.")
else:
    print("Expense not found.")

Enter the expense amount: 2500
The expense occurred in February.

# *Exercise in For Loop*

In [ ]:
#Using for loop figure out how many times you got heads

result = ["heads", "tails", "tails", "heads", "tails", "heads", "heads", "tails", "tails", "tails"]

heads_count = 0

for item in result:
  if item == "heads":
    heads_count = heads_count + 1
print("Heads Count for given flip ", heads_count)

Heads Count for given flip  4

In [ ]:
# Print square of all numbers between 1 to 10 except even numbers

for item in range(1,11):
  if item % 2 == 0:
    continue
  print(item*item)

1
9
25
49
81

In [ ]:
#Checking in Race Track

for km in range(1, 6):
    response = input("Are you tired? (yes/no): ")

    if response == "yes":
        print("You didn't finish the race.")
        break
    elif response == "no":
        if km == 5:
            print("Congratulations! You finished the race!")
    else:
        print("Please answer with 'yes' or 'no'.")

Are you tired? (yes/no): no
Are you tired? (yes/no): yes
You didn't finish the race.

In [18]:
for i in range(1,6):
    s = ''
    for j in range(i):
        s += '*'
    print(s)

*
**
***
****
*****