<a href="https://colab.research.google.com/github/ahnafsayem/python_practice/blob/main/Basic/exercise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Exercise on Variables*

In [14]:
'''
Create two variables.
One to store your birth year and another one to store current year.
Now calculate your age using these two variables
'''

current_year=2024
birth_year=2000

age=current_year-birth_year

print(age)

24

In [15]:
"""
Store your first, middle and last name in three different variables
and then print your full name using these variables.
"""

First = "Ahnaf"
Middle = "Sayem"
Last="Abrar"

full_name=First+" "+Middle+" "+Last

print(full_name)

Ahnaf Sayem Abrar

# *Exercise on Numbers*

In [16]:
"""
Football field that is 90 meter long and 50 meter wide.
Find out total Area.
"""

length = 90
width = 50

Area = length*width

print("Area of the Football Field",Area)

Area of the Football Field 4500

In [17]:
"""
You bought 9 packets of potato chips from a store. Each packet costs 2$
and you gave shopkeeper 20$.
How many dollars is the shopkeeper going to give you back?
"""

per_pack=2
total_pack=9
given=20
total_cost=per_pack*total_pack
b_back=given-total_cost
print("Total Cost",total_cost,"$")
print("Given",given,"$" )
print("So shopkeeper retured =",b_back,"$")

Total Cost 18 $
Given 20 $
So shopkeeper retured = 2 $

In [18]:
"""
your bathroom which is exactly square and 5.5 feet is its length.
If tiles cost 500 rs per square feet, how much will be the total cost
to replace all tiles. Calculate.
"""

length=5.5
area=length**2
print("Area is",area,"square-feet")

cost=500*area
print("Cost is",cost,"dollar")

Area is 30.25 square-feet
Cost is 15125.0 dollar

# *Exercise on Strings*

In [19]:
"""
Create 3 variables to store street, city and country,
now create address variable to store entire address.
Show in Seperate lines.
"""

Street="3/7 Sherpur-Road"
City="Colony,Bogura"
Country="Bangladesh"

Address=Street+'\n'+City+'\n'+Country
print(Address)

3/7 Sherpur-Road
Colony,Bogura
Bangladesh

In [23]:
"""
Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index
"""

data="Earth Revolves around the Sun"

print("Printing 'Revolves' =",data[6:15])
print("Printing 'Sun' =",data[-3:])

Printing 'Revolves' = Revolves
Printing 'Sun' = Sun

In [26]:
"""Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily"
where x and y presents vegetables and fruits that you eat everyday.

"""

num_fruits=10
num_veggies=5
print("I eat", num_veggies,"veggies and", num_fruits,"fruits daily")

I eat 5 veggies and 10 fruits daily

In [28]:
"""
string variable called s='I've ate 200 banana'.
This of course is a wrong statement,
the correct statement is 'I've ate 10 samosa'
"""

s="I've ate 200 banana"
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

Using two line replace: I've ate 10 samosa