<a href="https://colab.research.google.com/github/ahnafsayem/python_practice/blob/main/Basic/python_basics_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Variables in Python*

In [ ]:
#Calculating total expenses of a house per month

rent=1500
gas=500
electricity_bill=1000
groceries=1500

total = rent+gas+electricity_bill+groceries

print("Total expenses of the house is",total,"dollar" )

Total expenses of the house is 4500 dollar

# *Numbers in Python*

In [ ]:
#calculating distance and travel time between Rajshahi to Daka through Bogura.

Raj_Bog=100
Bog_Dha=150

total_distance =(Raj_Bog*1000)+(Bog_Dha*1000)
print('Total Distance traveled',total_distance,'meters.')

speed=65 #speed of a car in kmph

#Converting in m/s
speed_f=(speed*1000)/3600

travel_time= total_distance/speed_f

time=round(travel_time,2)

print("Total travel time",time,'m/s')

Total Distance traveled 250000 meters.
Total travel time 13846.15 m/s

# *Strings in Python*

In [ ]:
# Strings are immutable in Python,
#that means we can not change the string partially

name = "AHNAF SAYEM"

print("Printing the first letter of the string, that is - ",name[0])
print("Printing the last letter of the string, that is - ",name[-1])

print("Random position check - ", name[6])


#subindex
print("Subindex - The first name is :- ",name[0:5]) #another way- name[:5]
print("Subindex - The last name is :- ",name[6:]) #going till the last

Printing the first letter of the string, that is -  A
Printing the last letter of the string, that is -  M
Random position check -  S
Subindex - The first name is :-  AHNAF
Subindex - The last name is :-  SAYEM

In [ ]:
#Multiple Lines like Address

print("Address of Ahnaf Sayem:")

address='''Bangladesh
South Asia
Earth, Milky Way Galaxy'''

print(address)

Address of Ahnaf Sayem:
Bangladesh
South Asia
Earth, Milky Way Galaxy

In [ ]:
#Joining Two Strings
s1 = "hello"
s2 = "world"
s3 = s1 + s2
print(s3)

#adding space in between
s4 = s1 + " " + s2
print(s4)

#converting number into string and then adding
p1 = "Total districts in Bangladesh #"
p2 = str(64)
p3 = p1 + p2
print(p3)

helloworld
hello world
Total districts in Bangladesh #64